<div class="container p-5">
    <h1 class="text-light">Welcome To M's Store </h1>
    <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officiis est
        consequatur sequi! Quos ipsum dignissimos asperiores modi dolorem, porro amet sunt quibusdam quaerat quas
        commodi atque adipisci nesciunt maxime.
    </p>


    <div class="Contact text-light">
        <h2>You Can reach us On :</h2>
        <div class="d-flex align-items-center my-3">
            <i class="fa-solid fa-phone "></i>
            <span class=" mx-3">+201287612642</span>
        </div>
        <div class="d-flex align-items-center my-3">
            <i class="fa-brands fa-whatsapp"></i>
            <span class=" mx-3">+201287612642</span>
        </div>
        <div class="d-flex align-items-center my-3">
            <i class="fa-brands fa-facebook"></i>
            <span class=" mx-3"><a class="text-decoration-none text-light" href="http://www.facebook.com">Facebook</a></span>
        </div>
        <div class="d-flex align-items-center my-3">
            <i class="fa-solid fa-location-dot"></i>
            <span class=" mx-3"><a class="text-decoration-none text-light" href="http://www.maps.google.com">Our location</a></span>
        </div>
    </div>
</div>